<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc://postgres:e70eKfHCGeWKKyRBQ6nl@containers-us-west-61.railway.app:7240/railway</property>
    <property name="hibernate.connection.username">containers-us-west-61.railway.app</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <mapping class="com.example.groupspring.model.Signup" />
  </session-factory>
</hibernate-configuration>
